/* =========================================
   BODY
========================================= */

body{

    margin:0;

    font-family:Arial;

    background:#f5f7ff;

    color:#111827;

}



/* =========================================
   NAVBAR
========================================= */

.navbar{

    height:80px;

    width:100%;

    background:white;

    border-bottom:1px solid #e5e7eb;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 70px;

    box-sizing:border-box;

    position:fixed;

    top:0;

    z-index:9999;

}



.logo{

    font-size:38px;

    font-weight:bold;

    color:#2563eb;

}



.menu{

    display:flex;

    gap:32px;

}



.menu a{

    text-decoration:none;

    color:#111827;

    font-weight:600;

    transition:0.3s;

}



.menu a:hover{

    color:#4f46e5;

}



/* =========================================
   HERO
========================================= */

.about-hero{

    text-align:center;

    padding-top:95px;

    padding-bottom:15px;

}



.about-hero h1{

    font-size:40px;

    margin-bottom:8px;

}



.about-hero p{

    font-size:15px;

    color:#64748b;

    margin:0;

}



/* =========================================
   GRID
========================================= */

.about-grid{

    width:92%;

    margin:auto;

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:18px;

}



/* =========================================
   CARD
========================================= */

.about-card{

    background:white;

    padding:20px;

    border-radius:18px;

    box-shadow:0 6px 18px rgba(0,0,0,0.05);

    transition:0.3s;

}



.about-card:hover{

    transform:translateY(-6px);

    box-shadow:0 12px 30px rgba(0,0,0,0.10);

}



.about-card h2{

    font-size:22px;

    margin-bottom:10px;

}



.about-card p{

    font-size:14px;

    color:#64748b;

    line-height:1.5;

    margin:0;

}

/* =========================================
   FOOTER
========================================= */

.footer{

    margin-top:50px;

    background:#04102d;

    color:white;

    display:flex;

    justify-content:space-between;

    padding:60px 80px;

}

.footer-logo h1{

    margin:0;

    margin-bottom:15px;

}

.footer-logo p{

    color:#d1d5db;

}

.footer-links h2{

    margin-bottom:20px;

}

.footer-links p{

    color:#d1d5db;

    margin:12px 0;

}

.footer-links a{

    display:block;

    color:#d1d5db;

    text-decoration:none;

    margin:12px 0;

}

.footer-links a:hover{

    color:white;

}