/* =========================================
   BODY
========================================= */

body{

    margin:0;

    font-family:Arial;

    background:#f5f7ff;

    color:#111827;

}

/* =========================================
   ARTICLE
========================================= */

.article-container{

    max-width:900px;

    margin:120px auto 60px auto;

    background:white;

    padding:40px;

    border-radius:24px;

    box-shadow:0 8px 25px rgba(0,0,0,0.06);

}



.article-container h1{

    font-size:42px;

    margin-top:0;

    margin-bottom:10px;

}



.article-meta{

    color:#64748b;

    font-size:14px;

    margin-bottom:30px;

}



.article-content{

    font-size:18px;

    line-height:1.9;

    color:#334155;

}



